<!-- Simple full-width example-->

<div class="page-header">
  <h1> <%= @jobapp.position %> at <a href="http://localhost:3000/companies/<%=@jobapp.company.id%>"><%= @jobapp.company.name %></a></h1>
</div>
<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Company desc</dt>
              <dd>TBU - try to populate from Wikipedia</dd>

              <dt>Interview on</dt>
              <dd><%= @jobapp.interview_on %></dd>

              <dt>Notes</dt>
              <dd><%= @jobapp.note %>... <a href="temp">(edit)</a></dd>

              <dt>To-dos</dt>
              <dd><%= @jobapp.note %></dd>

              <dt>Contacts</dt>
              <dd><ul>
              <% @contacts.each do |contact| %>
              <li><a href = "http://localhost:3000/contacts/1"> <%=contact.first_name%> <%=contact.last_name%></a></li>
              <% end %>
              </ul></dd>
            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/jobapps" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/jobapps/<%= @jobapp.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_jobapp/<%= @jobapp.id %>" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
