<!-- Validation failure messages -->

<% if @todo.errors.any? %>
  <% @todo.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Simple full-width example-->

<div class="page-header">
  <h1>Add To-do</h1>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add To-do</h3>
      </div>
      <div class="panel-body">
        <form action="/create_todo" class="form-horizontal">
          <!-- Label and input for jobapp_id -->
          <div class="form-group">
            <label for="company_id" class="col-sm-2 control-label">
              Which application?
            </label>
            <div class="col-sm-10">
              <%= select_tag(:company_id, options_from_collection_for_select(@companies.all, :id, :name), :class => "form-control") %>
              <dd>Can't find the application? <a href="http://localhost:3000/jobapps/new">Add a new appliction here!</a></dd>
            </div>
          </div>

          <!-- Label and input for due_at -->
          <div class="form-group">
            <label for="due_at" class="col-sm-2 control-label">
              Due at
            </label>
            <div class="col-sm-10">
              <input type="text" id="due_at" name="due_at" placeholder="2015-01-01" class="form-control" value="<%= @todo.due_at %>">
            </div>
          </div>

          <!-- Label and input for action_id -->
          <div class="form-group">
            <label for="action_id" class="col-sm-2 control-label">
              Action
            </label>
            <div class="col-sm-10">
              <%= select_tag(:action_id, options_from_collection_for_select(Action.all, :id, :name), :class => "form-control") %>
              <dd>Need a different action? <a href="http://localhost:3000/actions/new">Add new</a></dd>
            </div>
          </div>

          <!-- Label and input for contact_id -->
          <div class="form-group">
            <label for="contact_id" class="col-sm-2 control-label">
              Contact
            </label>
            <div class="col-sm-10">
              <%= select_tag(:contact_id, options_from_collection_for_select(@contacts.all, :id, :first_name), :class => "form-control") %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Create Todo" class="btn btn-success">
              or
              <a href="/todos">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
