<!-- Simple full-width example-->

<div class="page-header">
  <h1><%= @todo.action.name %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
          <dt>Company</dt>
          <dd><%= @todo.jobapp.company.name %></dd>

          <dt>Due at</dt>
          <dd><%= @todo.due_at %></dd>

          <dt>Action</dt>
          <dd><%= @todo.action.name %></dd>

          <% if @todo.contact %>
            <dt>Contact</dt>
            <dd><a href ="http://localhost:3000/contacts/<%=@todo.contact.id%>"><%= @todo.contact.first_name %> <%= @todo.contact.last_name %></a> (<%= @todo.contact.email %>)</dd>
          <% end %>
      <dt></dt>
      <dd>
        <div class="btn-group">
          <div class="btn-group btn-group-justified">
          <a href="/complete_todo/<%= @todo.id %>">
            <button type="button" class="btn btn-primary btn-md" >
              <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Mark done
            </button>
          </a>
          <a href="/delete_todo/<%= @todo.id %>">
            <button type="button" class="btn btn-warning btn-md" >
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
            </button>
          </a>
          <a href="/todos/<%= @todo.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
          </div>
          </a>
        </div>
      </dd>
    </dl>

  </div>
</div>